<!DOCTYPE html>
html(lang="en")
    head
        include ../utils/meta.pug
        if environment === 'production'
            link(rel='stylesheet', type='text/css', href=`/assets/dist/pages/errors500.css?id=${hashId}`)
    body
        h1(style='text-align: center;') 500 Error
        h2(style='text-align: center;') Internal Server Error
        include ../utils/noscript.pug
        script(src=`/assets/dist/pages/errors500.js?id=${hashId}`, async)
