<!DOCTYPE html>
html(lang="en")
    head
        include ../utils/meta.pug
        title 500: Internal Server Error
    body
        h1 500 Error
        h2 Internal Server Error
        include ../utils/noscript.pug